body{
    font-family: fantasy;
    background-color: green !important;

}
h1{
    font-family: fantasy;
}

#szoveg{
    font-family: fantasy;
    padding: 5px;;
    text-align: center;
    font-size: 40px;
    animation: szoveg 1s ease-in; 
    left: 5em;
    border: 5px solid rgb(255, 255, 255);
    width: 50%;
    margin: auto !important;
    ;


}

@keyframes szoveg{
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }

}
.gombok{
    font-family: fantasy;
   

}